$kitchen-counter-width: 580px;
$kitchen-counter-height: 200px;
$kitchen-counter-sink-width: 120px;
$kitchen-counter-sink-height: 80px;
$sink-head-border-width: 0.5rem;
$fridge-width: 200px;
$fridge-height: 450px;
$kitchen-container-height: $fridge-height;
$lamp-container-height: 150px;
$kitchen-illus-width: $kitchen-counter-width + $fridge-width + 20px;